# Copy to aws_credentials and fill in your values
# NEVER commit aws_credentials to git

[default]
aws_access_key_id = AKIAXZIDRY3N7HMW3HYR
aws_secret_access_key = d2C6YfSq9EdojhXh7E61Jgf4COrBjq7j7bZxr1yk
region = us-east-1
